<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FNSNDSCAWS2Binding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://npchk.nalog.ru:80/FNSNDSCAWS_2" binding="basicHttpBinding"
                bindingConfiguration="FNSNDSCAWS2Binding" contract="NalogService.FNSNDSCAWS2_Port"
                name="FNSNDSCAWS2_Port" />
        </client>
    </system.serviceModel>
</configuration>